In [1]:
import datetime
import itertools
from pathlib import Path

import matplotlib.cm as cm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import (
    ensemble,
    feature_selection,
    linear_model,
    metrics,
    model_selection,
    neighbors,
    preprocessing,
    svm,
    tree,
)
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import confusion_matrix, silhouette_samples, silhouette_score
from sklearn.model_selection import GridSearchCV, learning_curve
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.svm import SVC

In [2]:
df = pd.read_csv("../data/features.csv")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,year,month,day,Log_UnitPrice,Geography,Price Ranges,pca_dec_1,pca_dec_2,pca_dec_3,embed_dec_1,embed_dec_2,embed_dec_3
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,2010,12,1,1.266948,UK,Low,2577.186465,5.288154,-0.779471,-1.720544,2.131112,-1.283910
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010,12,1,1.479329,UK,Low,2577.186381,5.288737,0.060713,1.114793,-0.595291,0.865396
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,2010,12,1,1.321756,UK,Low,2577.185280,3.288294,-0.578083,-2.341727,0.193270,-0.568843
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010,12,1,1.479329,UK,Low,2577.186381,5.288737,0.060713,-1.847355,-0.063649,0.382655
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010,12,1,1.479329,UK,Low,2577.186381,5.288737,0.060713,-1.382535,1.524901,-0.338544

In [3]:
print(len(df))
df.dropna(axis=0, inplace=True)
print(len(df))

270062
190631

In [4]:
X = df.drop([
    'InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'Country',
    'Geography'
],
            axis=1)
X = pd.get_dummies(X, prefix_sep='_')
X.head()

,Quantity,UnitPrice,CustomerID,year,month,day,Log_UnitPrice,pca_dec_1,pca_dec_2,pca_dec_3,embed_dec_1,embed_dec_2,embed_dec_3,Price Ranges_High,Price Ranges_Low,Price Ranges_Medium
0,6,2.55,17850,2010,12,1,1.266948,2577.186465,5.288154,-0.779471,-1.720544,2.131112,-1.283910,0,1,0
1,6,3.39,17850,2010,12,1,1.479329,2577.186381,5.288737,0.060713,1.114793,-0.595291,0.865396,0,1,0
2,8,2.75,17850,2010,12,1,1.321756,2577.185280,3.288294,-0.578083,-2.341727,0.193270,-0.568843,0,1,0
3,6,3.39,17850,2010,12,1,1.479329,2577.186381,5.288737,0.060713,-1.847355,-0.063649,0.382655,0,1,0
4,6,3.39,17850,2010,12,1,1.479329,2577.186381,5.288737,0.060713,-1.382535,1.524901,-0.338544,0,1,0

In [5]:
Y = df['Country']
Y = LabelEncoder().fit_transform(Y)

In [6]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X2 = StandardScaler().fit_transform(X)

X_Train, X_Test, Y_Train, Y_Test = train_test_split(X2,
                                                    Y,
                                                    test_size=0.30,
                                                    random_state=101)

In [7]:
trainedmodel = LogisticRegression().fit(X_Train, Y_Train)
predictions = trainedmodel.predict(X_Test)
trainedmodel.score(X_Train, Y_Train)

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.9009599748203326